:host {
  display: block;
}

.drum-machine-container {
  background-color: rgb(31, 31, 65);
  box-shadow: 5px 5px 35px 5px #000000;
  -webkit-box-shadow: 5px 5px 35px 5px #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding: 20px;
  margin: auto;
}

jm-drum-machine-lcd {
  align-self: flex-start;
  padding: 0.5rem;
  margin: auto;
}

.mock-speaker-container {
  display: none;
  height: 300px;
}

.mock-speaker-slot {
  background-color: rgb(14, 14, 39);
  border: 1px rgb(11, 11, 31) solid;
  border-radius: 5px;
  height: 15px;
  margin: 7px auto;
  width: 200px;
}

.drum-pad-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 10px;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .mock-speaker-container {
    display: flex;
    flex-direction: column;
  }

  .drum-machine-container {
    align-items: none;
    flex-direction: row-reverse;
    justify-content: center;
    margin: auto;
    width: 80vw;
    padding: 20px;
  }
}
